body{
  background-color: gray;
  padding-right: 16%;
}
.signinfrm{
  float: right;
  background-color: #ffo032;
}
.signinfrm{
  border: 1px solid black 25%;
  margin-top: 5%;
  display: none;
}

input[type=text] {
  box-sizing: border-box;
  display: inline-block;
  border-radius: 50%;
  width: 10%;
  hegiht: 10%;
  background-color: lightblue;
}


