body{
  background-color: gray;
  padding-right: 15%;
}
.signinfrm{
  float: right;
}
.signinfrm{
  border: 1px solid black 25%;
  margin-top: 5%;
}

input[type=text], select {
  box-sizing: border-box;
  display: inline-block;
  border-radius: 50%;
  width: 10%;
  hegiht: 10%;
  background-color: lightblue;
}


