body{
  background-color: gray;
  padding-right: 5%;
}
.signinfrm{
  float: right;
}
.signinfrm, input-type{
  border: 1px solid black 25%;
}

input[type=text], select {
  box-sizing: border-box;
  display: inline-block;
  border-radius: 50px;
  width: 10%;
  hegiht: 10%;
  background-color: lightblue;
}


